.manageinformation{
    display: flex;
    
}
.p-col{
    width: 20vw;
}
.p-col_middle{
    width: 20vw;
}
.p-grid{
    height: 30vw;
}
.panel{
    height: 15vw;
}
.p-panel-title{
    font-size: 1vw;
}
.p-panel-content{
    height: 10vw;
}